*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: arial;
}

#clock{
	width: 400px;
	height: 200px;
	margin: auto;
	margin-top: 100px;
	padding-top: 25px;
	border: 5px solid green;
	text-align: center;
}

#clock-time .clockstyle{
	font-size: 80px;
	font-weight: bold;
	color: #00cece;
}

#clock-time .dotsstyle{
	font-size: 80px;
}

#control{
	margin-top: 20px;
}
#control a{
	text-decoration: none;	
	border: 2px solid black;
	display: inline-block;
	padding: 8px 25px;
	color: black;
}
#control a:hover{
	border: 2px solid red;
}